.blogs__wrapper {
	position: relative;

	.st-blogs__layer {
		@include abs;
		background-image: url(../images/wave.png);
		// background-repeat: no-repeat;
		// background-size: contain;
		background-size: cover;
		z-index: -1;
		opacity: 0.1;
	}

	.posts_grid {
		.posts_grid__all {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
			gap: 3rem;

			@include limbo-min {
				grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
			}
		}

		.grid_item {
			@include flex-col;
			@include bs;
			@include br1;
			overflow: hidden;
			transition: var(--st);
			position: relative;
			background: var(--color-5);

			&:nth-child(even) {
				background: var(--color-4);

				.heading-secondary {
					color: var(--color-1);

					&:hover {
						color: var(--color-3);
					}
				}

				.btn {
					background: var(--color-1);
					box-shadow: inset 0 0 0 1px var(--color-1);

					&:hover {
						background: var(--white);
						color: var(--color-1);
					}
				}
			}

			&:hover {
				.gi_image {
					img {
						transform: scale(1);
					}
				}
			}

			a {
				transition: var(--st);
			}

			.gi_image {
				position: relative;

				a {
					width: 100%;
				}

				img {
					@include br1;
					transition: var(--st);
					transform: scale(0.9);
				}
			}

			.heading-secondary {
				margin-bottom: 2rem;
				font-size: 20px;
				font-weight: 600;
				line-height: 1.3;
				color: var(--color-3);
				min-height: 60px;

				@include limbo-min {
					font-size: 24px;
				}

				&:hover {
					color: var(--color-1);
				}
			}

			.grid_item__text {
				padding: 3rem;
				flex: 1;
				align-items: center;
				text-align: center;
				@include flex-col;
			}

			.entry-content {
				line-height: 1.3;
				font-size: 16px;
				font-weight: 500;
				flex: 1;
				@include flex-col;
				gap: 5rem;

				@include desk-min {
					font-size: 17px;
					gap: 3rem;
				}
			}

			.btn {
				margin-top: auto;
				font-size: 16px;
				padding: 12px 20px;
				margin-inline: auto;
			}
		}
	}
}

.st_single-post {
	padding-top: 8rem;

	@include desk-min {
		padding-top: 190px;
	}

	img {
		@include br1;
	}

	.post_main {
		max-width: 1100px;
		margin: 0 auto;

		.title-3 {
			max-width: 800px;
		}
	}

	.st_single-post_main-image {
		max-width: 700px;
		border: 3px solid var(--color-2);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--color-3);
		font-weight: 700;
		margin-block: 5rem 2.5rem;
	}

	h4,
	h5,
	h6 {
		margin-top: 3rem;
	}

	h1 {
		margin-top: 0;
	}

	iframe {
		width: 100%;
	}

	h2 {
		font-size: 22px;

		@include desk-min {
			font-size: 30px;
		}
	}

	h3,
	h4 {
		font-size: 20px;

		@include desk-min {
			font-size: 27px;
		}
	}

	h4 {
		color: var(--color-2);
	}

	h5 {
		font-size: 18px;
		margin-bottom: 1rem;
		color: var(--color-2);

		@include desk-min {
			font-size: 23px;
		}
	}

	h6 {
		font-size: 17px;
		color: var(--color-2);

		@include desk-min {
			font-size: 21px;
		}
	}

	figure {
		margin-top: 0 !important;
	}

	p,
	li,
	a {
		font-size: 19px;
		line-height: 1.4;
		color: var(--color-2);
	}

	p {
		margin-block: 1rem 2rem;
	}

	li {
		margin-block: 1.5rem;
	}

	a {
		text-decoration: underline;
		color: var(--color-3);
		transition: var(--st);

		&:hover {
			opacity: 0.7;
		}
	}
}

.post-navigation {
	margin: 0 auto;
	margin-block: 8rem;
	max-width: 1100px;

	.nav-links {
		gap: 1rem 4rem;
	}
}

.posts-navigation {
	margin-top: 8rem;

	.nav-links {
		justify-content: flex-end;
	}

	a {
		@include btn-5;

		&:hover {
			box-shadow: inset 0 0 0 2px var(--color-3);
		}
	}
}

.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem 4rem;

	@include mob-only {
		flex-direction: column;
	}

	> div {
		@include mob-only {
			flex-direction: column;
			width: 100%;
		}
	}

	a {
		width: 100%;
	}
}
