label[for="nav-toggle"] {
	opacity: 0;
	font-size: 0;
}

@include limbo-max {
	.site-logo--desktop,
	.header__top-ham {
		display: none;
	}

	.header__top {
		.st-socials {
			display: none;
		}
	}

	.header__top {
		display: flex;
		align-items: center;
		gap: 1rem;
		justify-content: center;
		padding-block: 1rem;
		border-bottom: 1px solid rgb(208, 208, 208);

		@include mob-only {
			justify-content: space-between;
		}

		.header__phone {
			display: flex;
			align-items: center;
			gap: 5px;
			font-size: 2rem;
			padding: 1.5rem 2.2rem;
			@include br1;
			font-weight: 600;
			transition: var(--st);

			&:hover {
				background: var(--color-2);
				color: var(--white);
			}

			svg {
				height: 14px;
			}

			@include mob-only {
				font-size: 13px;
				padding: 0;
			}
		}

		.btn {
			min-width: unset;
			font-size: 2rem;
			padding: 1.5rem 2.2rem;

			@include mob-only {
				font-size: 13px;
			}
		}
	}

	.header__bottom-wrap {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		align-items: center;
		padding-block: 0.5rem;
	}

	.header-main {
		position: sticky;
		top: 0;
		background-color: var(--white);
		transition: var(--st);
		z-index: 999;
		width: 100%;
		box-sizing: border-box;
		@include bs;

		&.sticky-header {
			transform: translateY(-50px);
			@include bs;

			@include tab-only {
				transform: translateY(-57px) !important;
			}

			.main-navigation_wrap {
				height: calc(100svh - 80px);
			}
		}

		.site-logo {
			width: 180px;
			max-width: 65%;
			margin-block: 0.5rem;
			z-index: 20;
			transition: var(--st);

			img {
				height: 100%;
				object-fit: contain;
				width: 100%;
			}
		}

		.main-navigation_wrap {
			position: absolute;
			height: calc(100svh - 130px);
			overflow: scroll;
			overflow: auto;
			background-color: var(--white);
			left: 0;
			top: 100%;
			z-index: 9;
			width: 100%;
			display: none;
			border-top: 1px solid rgb(208, 208, 208);
			padding: 2rem;

			&::-webkit-scrollbar {
				display: none;
			}
			-ms-overflow-style: none;
			scrollbar-width: none;

			@include limbo-min {
				padding-inline: 6rem !important;
			}

			#primary-menu {
				margin: 0;
				padding: 0;

				li {
					position: relative;
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-wrap: wrap;
					line-height: 1.2;

					a {
						padding: 2rem 1.5rem;
						padding-left: 0;
						color: var(--color-2);
						font-size: 18px;
						width: 100%;
						font-weight: 500;
						letter-spacing: 1px;
						text-transform: uppercase;
					}

					&.current-menu-item,
					&.current-menu-parent,
					&.current-menu-ancestor {
						> a,
						> .sub-menu-trigger svg {
							color: var(--color-3);
						}
					}

					&.menu-item-has-children {
						> a {
							width: calc(100% - 55px);
						}
					}

					.sub-menu-trigger {
						width: 40px;
						padding-block: 10px;
						text-align: end;

						svg {
							width: 22px;
							height: 22px;
							transition: var(--st);
							color: var(--color-2);
						}
					}

					> .sub-menu {
						width: 100%;
						margin-left: 2rem;
						margin-bottom: 1rem;
						display: none;

						li {
							display: flex;
							flex-wrap: wrap;
							align-items: center;
						}

						.sub-menu-trigger {
							flex: 1;
						}

						a {
							font-size: 18px;
							text-transform: capitalize;
							font-weight: 500;
							padding: 1.5rem;
						}
					}

					&.sub-menu-open {
						> .sub-menu-trigger svg {
							transform: rotate3d(1, 0, 0, 180deg);
						}
					}
				}
			}
		}

		.mobile-header__info {
			margin-top: 4rem;
			display: flex;
			align-items: center;
			gap: 1rem;
			padding-bottom: 5rem;

			.button-mobile {
				width: 100%;
			}

			.st-socials {
				.st_icon {
					color: var(--color-1);
					border: 1px solid var(--color-1);
					width: 45px;
					height: 45px;
				}
			}
		}
	}

	/* Nav Trigger Start */
	.hamburger {
		height: 30px;
		width: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		> div {
			position: relative;
			top: 0;
			left: 0;
			background: var(--color-2);
			height: 2px;
			width: 100%;
			transition: all 0.4s ease;
			&::before,
			&:after {
				content: "";
				position: absolute;
				top: -10px;
				background: var(--color-2);
				width: 100%;
				height: 2px;
				transition: all 0.4s ease;
			}
			&:after {
				top: 10px;
			}
		}
	}
	.menu-toggle {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 99;
	}
	.menu-toggle:checked + div {
		background: rgba(0, 0, 0, 0);
		&:before {
			top: 0;
			transform: rotate(45deg);
			background: var(--color-2);
		}
		&:after {
			top: 0;
			transform: rotate(135deg);
			background: var(--color-2);
		}
	}
}
